/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  margin: 20px 0;
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
    margin: 5px;
    border: 4px solid black;
    height: 150px;
    width: 150px;
    text-align: center;
    padding-top: 1.5%;
    border-radius: 30%;
    margin-top: 3%;
}

.card,
.front,
.back {
    height: 150px;
    width: 150px;
    border-radius: 30%;
}

.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
    background-color: white;
}

.card.selected {
    transform: rotateY(180deg);
    cursor: default;
    animation-name: flipInY;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
    font-size: 100px;
    text-align: center;
    padding-top: 1.5%;
    
}

.card.match {
    cursor: default;
    background: PaleGreen;
    font-size: 33px;
    animation-name: rubberBand;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
}
.card.match .back, .card.selected .back {
    transform: rotateY(0deg);
    background: PaleGreen;
}

.card.unmatch,
.card.unmatch .back {
    animation-name: pulse;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    animation-duration: .75s;
    background: Tomato;
}

h1 {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

/* animations */
@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
} 

.btn {
    cursor: pointer;
}

.block {
    text-align: center;
}



